 /* Author: Janindu Ranawake
 19.08.2017 */
 
 @media (max-width: 767px) {
     .pre-content h1 {
         margin-bottom: 8vh !important;
         margin-top: 40vh !important;
     }
     /* .pre-content h2 {
         margin-bottom: 8vh !important;
         margin-top: 8vh !important;
     } */
     #restaurant {
         height: 100%;
         background: #111111;
     }
     .icon-scroll {
         top: 82%;
     }
     #main-navbar .main-reorder {
         transform: scale(0.5);
     }
     #mobile-nav {
         position: fixed !important;
         top: 0;
     }
 }
 
 @media (min-width: 768px) {
     #restaurant .pre-content h1 {
         margin-top: 35vh;
     }
     .marg_top {
         margin-top: 0vh !important;
     }
     #main-navbar .main-reorder {
         transform: scale(0.5);
     }
 }
 
 @media (max-width: 350px) {
     .pre-content h1 {
         margin-bottom: 8vh !important;
         margin-top: 26vh !important;
     }
     .pre-content h2 {
         margin-bottom: 8vh !important;
         margin-top: 24px !important;
     }
     #main-navbar .main-reorder {
         transform: scale(0.5);
     }
     #main-navbar .main-nav>ul>li {
         height: 100%;
         text-align: left;
         padding: 0 15px;
         display: block;
         float: none;
         width: 100%;
         position: relative;
     }
     #mobile-nav {
         position: fixed !important;
         top: 0;
     }
     /* #main-navbar .main-nav>ul>li.m80 {
         margin-top: 80px;
     } */
     #main-navbar .main-nav>ul>li a {
         line-height: 54px;
     }
     #restaurant {
         background: #ffffff;
     }
 }
 
 .icon-scroll {
     top: auto;
     bottom: 20px;
 }
 
 @media (min-width:961px) {
     /* tablet, landscape iPad, lo-res laptops ands desktops */
     #main-navbar .main-nav>ul>li.menu1 {
         margin-left: 140px;
     }
 }