/* Set height to 100% for body and html to enable the background image to cover the whole page: */
/*body, html {
    background: #F8ABA9;
}*/

.bgimg {
    /* Background image */
    /* Full-screen */
    height: 100%;
    /* Center the background image */
    background-position: center;
    /* Scale and zoom in the image */
    background-size: cover;
    /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
    position: relative;
    /* Add a white text color to all elements inside the .bgimg container */
    color: white;
    /* Add a font */
    font-family: 'Raleway', sans-serif;
    /* Set the font-size to 25 pixels */
}

/* Position text in the top-left corner */
.topleft {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Position text in the bottom-left corner */
.bottomleft {
    position: absolute;
    bottom: 1%;
    left: 5%;
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    color: white;
}


.bottomright {
    position: absolute;
    bottom: 1%;
    right: 5%;
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    color: white;
}

/* Position text in the middle */
.middle {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}

.middleall {
    position: absolute;
    bottom: 15%;
    left:40%;
    font-family: 'Raleway', sans-serif;
    color: white;        
}



/* Style the <hr> element */
hr {
    margin: auto;
    width: 40%;
}

.icon-scroll,
.icon-scroll:before {
    position: absolute;
    left: 50%;
}

.icon-scroll {
    width: 40px;
    height: 70px;
    margin-left: -20px;
    top: 50%;
    margin-top: -35px;
    box-shadow: inset 0 0 0 1px #fff;
    border-radius: 25px;
}

    .icon-scroll:before {
        content: '';
        width: 8px;
        height: 8px;
        background: #fff;
        margin-left: -4px;
        top: 8px;
        border-radius: 4px;
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-name: scroll;
        animation-name: scroll;
    }

@-webkit-keyframes scroll {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(46px);
        transform: translateY(46px);
    }
}

@keyframes scroll {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(46px);
        transform: translateY(46px);
    }
}

.animate-me {
    -webkit-animation: bgcolorchange 8s infinite; /* Chrome, Safari, Opera */
    animation: 8s ease-in infinite bgcolorchange;
}

@keyframes bgcolorchange {
    0% {
        background-color: #808285;
    }

    33% {
        background-color: #F8ABA9;
    }

    66% {
        background-color: #80AE6A;
    }

    100% {
        background-color: #808285;
    }
}
/* Chrome, Safari, Opera */
@-webkit-keyframes bgcolorchange {
    0% {
        background: #808285;
    }

    33% {
        background: #F8ABA9;
    }

    66% {
        background: #80AE6A;
    }

    100% {
        background: #808285;
    }
}
